@import url('https://fonts.googleapis.com/css?family=VT323');
* {
    font-family: 'VT323', monospace;
    font-style: normal;
    font-size: 20px;
    font-weight:900;
    text-shadow:#6b6b6b 0 -1px 15px;
    font:400 20px VT323, monospace;
    /* color: white; */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
a {text-decoration:none}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    /* background: url(photos/2452.jpg) no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/*---------header title-----------*/
.underline{
    color:white;
    animation: undertitle 3.25s;
    -webkit-animation: undertitle 3.25s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.undertitle{
    animation: undertitle 3.25s;
    -webkit-animation: undertitle 3.25s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    color:green;
}
@keyframes undertitle {
    0% {
        font-size: 0px;
        height: auto;
    }
    70%{
        font-size: 0px;
        height: auto;
    }
    100% {
        font-size: 18px;
        height: auto;
    }
}

h1 {
    /* height:688px; */
    cursor: default;
    font-size: 60px;
    font-family: agitpropmedium;
    margin: 0 auto;
    text-align: center;
    color: #64d962;
    font-weight: bold;
    left: 0px;
    text-shadow: 0px 0px 10px #64d96266;
    position:relative;
    z-index: 10;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 a {
    text-decoration: none;
}
.h1{
    height:100px;
    width:auto;
}
@-webkit-keyframes Gradient {
	0% {background-position: 0% 0%}
	100% {background-position: 150% 0%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 0%}
	100% {background-position: 150% 0%}
}

@keyframes Gradient {
	0% {background-position: 0% 100%}
	100% {background-position: 150% 0%}
}

@keyframes woshua-aron-exit {
	0% {background-position: 50% 95%}
	100% {background-position: 50% 500%}
}
@-webkit-keyframes woshua-aron-exit {
	0% {background-position: 50% 95%}
	100% {background-position: 50% 500%}
}
@keyframes oh-my {
	0% {background-position: 50% -80%}
	100% {background-position: 50% 0%}
}
@-webkit-keyframes oh-my {
	0% {background-position: 50% -80%}
	100% {background-position: 50% 0%}
}

@keyframes mymove {
    0% {
        font-size: 0px;
        height: auto;
    }
    70%{
        font-size: 1px;
        height: auto;
    }
    100% {
        font-size: 60px;
        height: auto;
    }
}
@-webkit-keyframes mymove {
    0% {
        font-size: 0px;
        height: auto;
    }
    70%{
        font-size: 1px;
        height: auto;
    }
    100% {
        font-size: 60px;
        height: auto;
    }
}
.beforehonk{
    animation: mymove 3.25s 1 ease-in;
    -webkit-animation: mymove 3.25s 1 ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}
.honk{
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    color: #64d962;
    font-weight: bold;
    left: 0px;
    /* font-size: 72px; */
    text-shadow: 0px 0px 10px #64d96266;
    position:relative;
    z-index: 10;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    animation: honk 0.1s 1 ease-out;
    -webkit-animation: honk 0.1s 1 ease-out;
}
@keyframes honk{
    0% {
        font-size: 60px;
        color:#ffffff;
        text-shadow: 0px 0px 10px #ffffffff;

    }
    50%{
        font-size: 44px;
        color:#B2ECB1;
        text-shadow: 0px 0px 10px #B2ECB1a9;

    }
    100% {
        font-size: 60px;
        color:#64d962;
        text-shadow: 0px 0px 10px #64d96266;

    }
}
@-webkit-keyframes honk{
    0% {
        font-size: 60px;
        color:#ffffff;
        text-shadow: 0px 0px 10px #ffffffff;

    }
    50%{
        font-size: 44px;
        color:#B2ECB1;
        text-shadow: 0px 0px 10px #b2ecb1a9;

    }
    100% {
        font-size: 60px;
        color:#64d962;
        text-shadow: 0px 0px 10px #64d96266;

    }
}
@keyframes imageFilter{
    0%
    {
        -webkit-filter:brightness(100%);  /* Safari 6.0 - 9.0 */
        filter:brightness(100%);
    }
    50%{
        -webkit-filter:brightness(300%);  /* Safari 6.0 - 9.0 */
        filter:brightness(300%);
    }
    
    100%
    {
        -webkit-filter:brightness(100%);  /* Safari 6.0 - 9.0 */
        filter:brightness(100%);
    }
}
@-webkit-keyframes imageFilter{
    0%
    {
        -webkit-filter:brightness(100%);  /* Safari 6.0 - 9.0 */
        filter:brightness(100%);
    }
    50%{
        -webkit-filter:brightness(300%);  /* Safari 6.0 - 9.0 */
        filter:brightness(300%);
    }
    100%
    {
        -webkit-filter:brightness(100%);  /* Safari 6.0 - 9.0 */
        filter:brightness(100%);
    }
}
@keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
}
@-webkit-keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
}
@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@keyframes blackIn{
    0%{background-color:#00000000; opacity: 1;}
    100%{background-color:#000000}
}
@-webkit-keyframes blackIn{
    0%{background-color:#00000000; opacity: 1}
    100%{background-color:#000000}
}
@keyframes blackOut{
    0%{background-color:#000000; opacity: 1}
    100%{background-color:#00000000}
}
@-webkit-keyframes blackOut{
    0%{background-color:#000000; opacity: 1}
    100%{background-color:#00000000}
}
/* transition: opacity 0;  */

header {
    margin: 0 auto;
    text-align: center;
    width:auto;}
.someSpace{
    height:100px; 
    width:auto;}

/*------Play Pause Button------*/
.btn2 {
    background-color: rgba(104, 128, 138, .0);
    border: 0 solid black;
    cursor: pointer;
    width: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 0px;
    color:white;
}
/*----Play Buttons---*/
button:focus {
    outline: 0;
}
/*------Dynamic Images--------*/
#lumipop {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -120px;
    height: 120px;
    left: 100px;
    top: 0px;
    z-index:2;}

#lumipeak {
    display: none;
    opacity:1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -120px;
    height: 120px;
    left: 301px;
    top: -101px;
    z-index:2;
}
#sanspeak {
    display: none;
    opacity:1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -120px;
    height: 120px;
    left: 433px;
    top: -668px;
    z-index:-1;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    animation: sans 19s linear;
    -webkit-animation: sans 19s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
#brodypeak {
    display: none;
    opacity:1;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    height: 120px;
    bottom:0px;
    pointer-events: none;
    /* z-index:-1; */
}

@keyframes sans{
    0%	    { left:170px; }
    88.5%	{ left:170px; }
    90.2%	{ left:255px; }
    92.8%	{ left:255px; -webkit-transform: rotate(10deg);transform: rotate(10deg);}
    94.4% 	{ left:165px; -webkit-transform: rotate(360deg);transform: rotate(360deg); }
    100%	{ left:165px; }}
@-webkit-keyframes sans
{
    0%	    { left:170px; }
    88.5%	{ left:170px; }
    90.2%	{ left:255px; }
    92.8%	{ left:255px; -webkit-transform: rotate(10deg);transform: rotate(10deg);}
    94.4% 	{ left:165px; -webkit-transform: rotate(360deg);transform: rotate(360deg); }
    100%	{ left:165px; }
}
/*----------Body----------*/
.stockColor{
    background-color: #552254;
}
body {
    background-color: #1d212b;
    margin: 0 auto;
    width: auto;
    /* background-color: #1d212b; */
    animation: bodycolor 3s, bgslowfade 10ms;
    -webkit-animation: bodycolor 3s, bgslowfade 30s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    /* overflow-x: hidden; */
    position: relative;
    box-shadow: inset 0 0 15em rgb(0, 0, 0),inset 0 0 30em rgb(0, 0, 0);
    background-attachment: fixed;
    background-position: center;
}
@keyframes bodycolor {
    0% {background-color: #000000;}
    20% {background-color: #000000;}
    100% {background-color: #1d212b;}}
@-webkit-keyframes bodycolor {
    0% {background-color: #000000;}
    100% {background-color: #1d212b;}}
@keyframes lol {
    0% {width:300px}
    50% {width:100px}
    100% {width:300px}}
@-webkit-keyframes lol {
    0% {width:300px}
    50% {width:100px}
    100% {width:300px}}
.notransition{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
/*-------Playlist---------*/
.playlist{
    margin:0 auto;
    width:473px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    position:relative;
}
.bgShadow{
    padding-bottom: 20px;
}

.playlist tr:hover a {
    opacity: 1;
}

.playlist tr a:hover {
    opacity: 1;
}

.playlist tr:not(.poop):hover td {
    /* background-color: rgba(116, 116, 116, 0.3); */
    /* font-weight: bold; */
    color: #64d962;
    animation: flash 0s;
    -webkit-animation: flash 0s; 
}

/*-------Table---------*/
table {
    /* -webkit-box-shadow: 0 3px 40px #66d964;
    box-shadow: 0 0.3px 40px #66d964; */
    width:473px;
    border-collapse: collapse;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    /* margin: 2em auto; */
    background-color: rgb(11, 11, 11);
    cursor: default;
    color: #666666;
    /* margin-top: 10000em; */
    margin-bottom: 0px;
    opacity: 1;
    transition: opacity 0.5s;
    text-decoration: none;
    animation: tablehop 2.5s;
    -webkit-animation: tablehop 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}
table, td, tr{
    /* border: 1px solid white; */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

table:nth-child(1){

    /* overflow: hidden; */
}

@keyframes tablehop {
    0% {
        margin-top: 5000px;
    }
    70% {}
    100% {
        margin-top: 0;
    }
}

td {
    border-collapse: collapse;
    cursor: default;
    opacity: 1;
    transition: opacity 0.5s;
    animation: texton 0.6s;
    -webkit-animation: texton 0.6s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.poop{
    background-color: rgba(116, 116, 116, 0.3);
    color: white;
    font-weight: bold;
    font-size:50px;
    animation: glowing 3s infinite cubic-bezier(0.505, 0.010, 0.565, 0.990);
    -webkit-animation: glowing 3s infinite cubic-bezier(0.505, 0.010, 0.565, 0.990);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; 
    /* animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; */
}
@keyframes glowing {
    0% {background-color:rgb(165, 106, 11);}
    50% {background-color: rgb(46, 30, 4);}
    /* 50% {background-color: #1f441f;} */
    100% {background-color:rgb(165, 106, 11);}}
.poop td {
    animation: stayWhite 0s;
    -webkit-animation: stayWhite 0s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes stayWhite {
0% {color:#fff;}
100% {color: rgb(255,255,255);}}

/* @keyframes texton{
    0% {
    }
    95% {
        color:black;
    }
    96% {
        color:rgb(225, 225, 225);
    }
    100% {
        color: rgb(102, 102, 102);
    }
} */

table tr td:first-child {
    padding-right: 0px;
}

table tr:last-child {
    padding-bottom: 200px;
    width: 100px;
}

tr:nth-child(84) {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

table div {
    margin-right: 5px;
}

table tr:hover div {
    display: block;

}

table tr:last-child{
    border: coral;
    border-radius: 15px 50px 30px 5px;
    -webkit-border-radius: 15px 50px 30px 5px;
    -moz-border-radius: 15px 50px 30px 5px;

}
tr:first-child td:first-child { border-top-left-radius: 0.5em; -webkit-border-top-left-radius: 0.5em; -moz-border-top-left-radius: 0.5em;}
tr:first-child td:last-child { border-top-right-radius: 0.5em; -webkit-border-top-right-radius: 0.5em;-moz-border-top-right-radius: 0.5em; }
tr:last-child td:first-child { border-bottom-left-radius: 0.5em; -webkit-border-bottom-left-radius: 0.5em;-moz-border-bottom-left-radius: 0.5em;}
tr:last-child td:last-child { border-bottom-right-radius: 0.5em; -webkit-border-bottom-right-radius: 0.5em;-moz-border-bottom-right-radius: 0.5em;}

td::nth-child(1) {
    background-color: yellow; 
    color:yellow;
  }
  @keyframes texton{
    0% {
        color:#64d962;
    }
    100% {
        color: rgb(102, 102, 102);
    }
}

  /* tbody tr:nth-child(odd) {
    background: rgb(8, 8, 8);
  } */
a:hover {
    cursor: pointer;
}

.btn {
    background-color: rgba(104, 128, 138, .0);
    border: 0 solid black;
    cursor: pointer;
    width: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 0px;
}
.linkyou{
right:17px;
}
.transparent{
    opacity:0.2;
    cursor: default;
}
.linkbeep{
    right:34px;
}
.linkInfo{
    right:0px;
    background-color:none;
}
.linkBugFix{
    z-index: 10;
    padding-left:20px;
}

.linkbeep2{
    right:34px;
}
.linkTwit{
    right:0px;
    opacity:1;
}
.links {
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    cursor: pointer;
    white-space: nowrap; 
    overflow: visible; 
    
}
.links a {
    pointer-events: bounding-box;
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
    opacity: 1;
}

button img {
    width: 15px;
}

.links a img {
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
z{
    
}

/* @keyframes flash {
    0% {
        color: white;
    }
    100% {
        color: #00ff00;
    }
} */


/*----------Scroll bar---------*/
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 4px solid #7744ff;
}
::-webkit-scrollbar-thumb:before {
    background: blue;
    border-radius: 20px;
    border: 4px solid yellow;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 4px solid #7744ff;
}
::-webkit-scrollbar-thumb:before {
    background: blue;
    border-radius: 20px;
    border: 4px solid yellow;
}

div.newData {
    background: #09F;
}

@media all and (max-width:473px){
    table tr td z{
        white-space:nowrap;
        text-overflow: clip;
        /* overflow: hidden; */
        width:auto;
    }

    
    table{
        
        /* width: auto; */

        
    }
    wrapper{
        width:auto;
    }
    .playlist{
        width:auto;
    }
    table tr:last-child {
        width: auto;
        text-overflow: ellipsis;
        position:relative; 
    /* overflow:hidden; */
    overflow: visible; 
    }
    table tr{
        width: auto;
        text-overflow: ellipsis;
        position:relative; 
    /* overflow:hidden; */
    overflow: visible; 
    }
    .overlay{width:auto}
    .links{
        position: relative; right: 0px;
        background-color:rgb(11, 11, 11);
        
    }
    .links a img {
        top: -50%;
        transform: translateY(-50%); 
        background-color:rgb(11, 11, 11);
    }
    .linkTwit{
        top:0!important;
        background-color:rgb(11, 11, 11);

    }
    .controls{
        display:none;
    }

}

/*@media all and (max-width: 513px) {
    
     .playlist{
        width:100%;
    }
    #lumigif {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-right: auto;
        position: relative;
        margin-top: -120px;
        height: 100px;
        left: 0px;
        top: 36px;
    } 
}
*/
/* table tr:last-child {
    padding-bottom: 200px;
    background: blue;
    width: 100px;
} */
.fakeSpan{
    position: relative;
    text-align: center;
    margin-left: -4px;
    margin-right: 39px;
    display:inline-block;
    transform:scale(0.68,1); 
    -webkit-transform:scale(0.68,1);  
}
span {

}






.overlay{
    width: 200%;
    height: 200%;
    position:fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 0;
    /* background: url('../img/') repeat left top; */
    z-index: 0;
    opacity: 0.8;}
    
.tween-overlay{
    -webkit-animation	: overlayMoveUp 23s linear infinite;
    animation			: overlayMoveUp 23s linear infinite;}
@-webkit-keyframes overlayMoveLeft{
    from	{ -webkit-transform: translateX(0px); }
    to		{ -webkit-transform: translateX(-240px); }}
@keyframes overlayMoveLeft{
    from	{ transform: translateX(0px); }
    to		{ transform: translateX(-240px); }}
/*-----------------------------*/
@-webkit-keyframes overlayMoveRight{
    from	{ -webkit-transform: translateX(0px); }
    to		{ -webkit-transform: translateX(240px); }}
@keyframes overlayMoveRight{
    from	{ transform: translateX(0px); }
    to		{ transform: translateX(240px); }}
/*------------------------------*/
@-webkit-keyframes overlayMoveUp{
    from	{ -webkit-transform: translateY(0px); }
    to		{ -webkit-transform: translateY(-240px); }}
@keyframes overlayMoveUp{
    from	{ transform: translateY(0px); }
    to		{ transform: translateY(-240px); }}
/*------------------------------*/
@-webkit-keyframes overlayMoveDown{
    from	{ -webkit-transform: translateY(-240px); }
    to		{ -webkit-transform: translateY(0px); }}
@keyframes overlayMoveDown{
    from	{ transform: translateY(-240px); }
    to		{ transform: translateY(0px); }}
/*------------------------------*/
@-webkit-keyframes overlayMoveDownTears{
    from	{ -webkit-transform: translateY(-720px); }
    to		{ -webkit-transform: translateY(0px); }}
@keyframes overlayMoveDownTears{
    from	{ transform: translateY(-720px); }
    to		{ transform: translateY(0px); }}
/*------------------------------*/
@-webkit-keyframes still{
    from	{ -webkit-transform: translateY(0px); }
    to		{ -webkit-transform: translateY(0px); }}
@keyframes still{
    from	{ transform: translateY(0px); }
    to		{ transform: translateY(0px); }}
    @-webkit-keyframes opacityStill{
        from	{ opacity: 0; }
        to		{ opacity: 0.8; }}
    @keyframes opacityStill{
        from	{ opacity: 0; }
        to		{ opacity: 0.8; }}
/*------------------------------*/
@-webkit-keyframes starsans{
    from	{ -webkit-transform: translateX(0px); }
    to		{ -webkit-transform: translateX(-240px); display:none; opacity:0}}
@keyframes starsans{
    0%	{ transform: translateX(0px); }
    99%	{ transform: translateX(0px); }
    100%		{ transform: translateX(-240px); display:none; opacity:0}}

/*------------------------------*/

@keyframes bodyBgMovement{
    from {
        background-position: 0 0;
      }
      to {
        background-position: 960px 0;
      }
}
@-webkit-keyframes bodyBgMovement{
    from {
        background-position: 0 0;
      }
      to {
        background-position: 960px 0;
      }
}

#thanks{
    color:rgb(255, 195, 64);
    display:none;
    text-align:center;
    overflow:hidden;
    bottom:16px;
    margin:0 auto;
    /* left:45.5%; */
    animation: thanks 8s;
    -webkit-animation: thanks 8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes thanks{
    0%	{ opacity:0; }
    50%		{ opacity:1; }
    100%		{ opacity:1; }}
@-webkit-keyframes thanks{
    0%	{ opacity:0; }
    50%		{ opacity:1; }
    100%		{ opacity:1; }}

@keyframes vvvvvv{
    0%	{ background-position: 50% 100%; }
    50%		{ background-position: 50% 0%; }
    100%		{ background-position: 50% 100%; }}
@-webkit-keyframes vvvvvv{
    0%	{ background-position: 50% 100%; }
    50%		{ background-position: 50% 0%; }
    100%		{ background-position: 50% 100%; }}
@keyframes alphys{
    0%	{ background-position: 0% 50%; }
    100%		{ background-position: 100% 50%; }}
@-webkit-keyframes alphys{
    0%	{ background-position: 0% 50%; }
    100%		{ background-position: 100% 50%; }}
@keyframes asgore{
    0%	{ background-position: 100% 15% }
    100%		{ background-position: 200% 15%; }}
@-webkit-keyframes asgore{
    0%	{ background-position: 100% 15% }
    100%		{ background-position: 200% 15%; }}
@keyframes rickroll{
    0%	{ transform: rotate(0deg); }
    100%		{ transform: rotate(360deg) }
}
@-webkit-keyframes rickroll{
    0%	{ transform: rotate(0deg); }
    100%		{ transform: rotate(360deg) }}
@keyframes shrek{
    0%	{ background-position: 64.7% 25%; background-size: 100% }
    97%		{ background-position: 64.7% 25%; background-size: 400%}}
@-webkit-keyframes shrek{
    0%	{ background-position: 64.7% 25%; background-size: 100% }
    97%		{ background-position: 64.7% 25%; background-size: 400% }}
@keyframes twinsanity{
    0%	{ background-position: 50% 70%}
    100%		{ background-position: 50% 100%}}
@-webkit-keyframes twinsanity{
    0%	{ background-position: 50% 70%}
    100%		{ background-position: 50% 100%}}
@keyframes superStill{
    0%	{}
    100%{}}
@-webkit-keyframes superStill{
    0%	{}
    100%{}}

@keyframes shake {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}
@-webkit-keyframes shake {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}

@keyframes fallenDown{
    0%	{background-position: 50% 0%;}
    100%{background-position: 50% 90%;}}
@-webkit-keyframes fallenDown{
    0%	{background-position: 50% 0%;}
    100%{background-position: 50% 90%;}}
@keyframes onceUpon{
    0%	{background-position: 50% 100%;}
    100%{background-position: 50% 0%;}}
@-webkit-keyframes onceUpon{
    0%	{background-position: 50% 100%;}
    100%{background-position: 50% 0%;}}
@keyframes ut4stars{
    from	{ opacity:0}
    to		{ opacity:1}}
@keyframes ampPlains{
    0%	{background-position: 50% 0%;}
    100%{background-position: 50% 100%;}}
@-webkit-keyframes ampPlains{
    0%	{background-position: 50% 0%;}
    100%{background-position: 50% 100%;}}

@keyframes ricklovania{
    from	{background-image: none; }
    to {background-image: url("../img/rick.gif")}}
@-webkit-keyframes ricklovania{
    from	{background-image: none;}
    to {background-image: url("../img/rick.gif")}}


.bottomMargin{
    height:60px;
    width:60px;
    color:yellow;
    margin:0;
    text-align:center;
    vertical-align: bottom;
    bottom:0%;
    opacity:0;
}
x:-moz-any-link  { color: red }
.controls{
    position:absolute;
    animation: controls 21s;
    -webkit-animation: controls 21s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes controls{
    0%	{ opacity:0; color:white;}
    42%		{ opacity:0; }
    67%		{ opacity:1; }
    75%		{ opacity:1; }
    100%	{ opacity:0; }}
@-webkit-keyframes controls{
    0%	{ opacity:0; color:white;}
    42%		{ opacity:0; }
    67%		{ opacity:1; }
    75%		{ opacity:1; }
    100%	{ opacity:0; }}

.controls{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    font-style: italic;
    color:white!important
}

/* The pop up. */
.fit{
    width: 200px; height: auto;
}
/* a{font-size: 0;} */