
.underline{
    color:pink;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
}

-webkit-scrollbar {
}

-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .5);
}

-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
    border: 4px solid rgb(119, 68, 255);
}

-webkit-scrollbar-thumb:before {
    background: blue;
    border-radius: 20px;
    border: 4px solid yellow;
}
