
body
{
    font-family:Arial;
}
.wrapper {

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /*padding-right:100px;*/
}
#test{
    background:orange;
}
table tr td:first-child {
    padding-right:20px;
}
a {
    color:darkblue;
}
a:hover {
    color: deepskyblue;
    cursor: default;
}
.playlist{
    width: 650px;
    margin: 0 auto;
}
